@import "tailwindcss";


/* Light Theme */
:root {
    --color-primary: #5051F9;
    --color-secondary-purple: #C9B3ED;
    --color-secondary-blue: #92BFFF;
    --color-secondary-indigo: #9F9FF8;
    --color-secondary-cyan: #AEC7ED;
    --color-secondary-mint: #96E2D6;
    --color-secondary-yellow: #FFDB56;
    --color-secondary-orange: #FFB55B;
    --color-secondary-red: #FF4747;
    --color-secondary-green: #94E9B8;
    --color-hover-primary: #5051F933;
    --color-font-heading:#0F0F48;
    --color-background-1: #FFFFFF;
    --color-background-2: #F9F9FA;
    --color-background-3: #E6F1FD;
    --color-background-4: #EDEEFC;
    --color-background-5: #D9D9D9;
    --color-black-100: #000000;
    --color-black-80: #2F2F2F;
    --color-black-60: #5E5E5E;
    --color-black-40: #8C8C8C;
    --color-black-20: #BBBBBB;
    --color-black-10: #E6E6E6;
    --color-black-4: #F5F5F5;
    --color-white-100: #FFFFFF;
    --color-white-80: #CCCCCC;
    --color-white-60: #999999;
    --color-white-40: #666666;
    --color-white-20: #333333;
    --color-white-10: #191919;
    --color-white-4: #0A0A0A;
    --color-info: #3ABFF8;
    --color-success: #36D399;
    --color-warning: #FBBD23;
    --color-error: #F87272;
    --color-font-color: #5F6388;
}

/* Dark Theme */
[data-theme="dark"] {
    --color-primary: #1E90FF;
    --color-secondary-purple: #6A5ACD;
    --color-secondary-blue: #4682B4;
    --color-secondary-indigo: #4B0082;
    --color-secondary-cyan: #00CED1;
    --color-secondary-mint: #20B2AA;
    --color-secondary-yellow: #FFD700;
    --color-secondary-orange: #FF8C00;
    --color-secondary-red: #DC143C;
    --color-secondary-green: #32CD32;
    --color-hover-primary: #1E90FF33;
    --color-background-1: #2A2A2A;
    --color-background-2: #1F1F1F;
    --color-background-3: #121212;
    --color-background-4: #0D0D0D;
    --color-background-5: #080808;
    --color-black-100: #FFFFFF;
    --color-black-80: #CCCCCC;
    --color-black-60: #999999;
    --color-black-40: #666666;
    --color-black-20: #333333;
    --color-black-10: #191919;
    --color-font-heading:#c1c1e3;
    --color-black-4: #0A0A0A;
    --color-white-100: #000000;
    --color-white-80: #2F2F2F;
    --color-white-60: #5E5E5E;
    --color-white-40: #8C8C8C;
    --color-white-20: #BBBBBB;
    --color-white-10: #E6E6E6;
    --color-white-4: #F5F5F5;
    --color-info: #1E90FF;
    --color-success: #28A745;
    --color-warning: #FFC107;
    --color-error: #DC3545;
    --color-font-color: #E1E3E7;
}
@theme{
    --font-*:initial;
    --font-family-sans: "Poppins", sans-serif;
    --font-weight-*:initial;
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --text-*:initial;
    --text-12: 12px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-24: 24px;
    --text-32: 32px;
    --text-48: 48px;
    --text-64: 64px;
    --shadow-*:initial;
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.2);
    --shadow-default: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04);
    --shadow-2xl: 0 25px 50px rgba(0, 0, 0, 0.25);
    --shadow-inner: inset 0 2px 4px rgba(0, 0, 0, 0.06);
    --shadow-none: none;
    --blur-*:initial;
    --blur-sm: 4px;
    --blur-md: 8px;
    --blur-lg: 12px;
    --blur-xl: 16px;
    --blur-2xl: 24px;
    --spacing-*:initial;
    --spacing-0: 0px;
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-24: 24px;
    --spacing-28: 28px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-48: 48px;
    --spacing-80: 80px;
    --spacing-auto: auto;
    --spacing-full:100%;
    --radius-*:initial;
    --radius-0: 0px;
    --radius-4: 4px;
    --radius-8: 8px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-28: 28px;
    --radius-32: 32px;
    --radius-40: 40px;
    --radius-48: 48px;
    --radius-80: 80px;
}

@layer base {
    .icon-size-0{
        width: 0;
        height: 0;
    }
    .icon-size-4{
        width: 4px;
        height: 4px;
    }
    .icon-size-8{
        width: 8px;
        height: 8px;
    }
    .icon-size-12{
        width: 12px;
        height: 12px;
    }
    .icon-size-16{
        width: 16px;
        height: 16px;
    }
    .icon-size-20{
        width: 20px;
        height: 20px;
    }
    .icon-size-24{
        width: 24px;
        height: 24px;
    }
    .icon-size-28{
        width: 28px;
        height: 28px;
    }
    .icon-size-32{
        width: 32px;
        height: 32px;
    }
    .icon-size-40{
        width: 40px;
        height: 40px;
    }
    .icon-size-48{
        width: 48px;
        height: 48px;
    }
    .icon-size-80{
        width: 80px;
        height: 80px;
    }
    body {
        font-family: var(--font-family-sans);
      }
}